~inc:header.inc~
<div>

<p>
This is the configuration page for the streaming MP3 Internet Radio board that you have.  It was designed to interface to Shoutcast servers, but several different HTTP based MP3 servers may also be used.
</p>

<p>
To start, first select a genre from the drop down list box, and click 'Select'. To change station, click 'Prev' or 'Next'. To adjust volume, click 'Down' or 'Up'. If a station does not play, it could be that the port is blocked, try a different station.
</p>

<p>
<table style="padding-left: 10px;">
<tr>
<td><img src="./FolderMusic.PNG"></td><td><b>Select Station Genre:</b></td>
<form method="get" action="index.htm">
<td>
<select name="genre">
~genre_list~
</select>
</td>
<td><input type="submit" value="Select"></td>
</form>
<td></td><td></td><td></td><td></td>
<td><img src="./Volume3bar.PNG"></td>
<td><b>Volume:</b></td>
<form method="get" action="index.htm">
<td><input name="btnVolDown" type="submit" value="Down"></td>
<td><input name="btnVolUp" type="submit" value="Up"></td>
</form>
<td>[<span id='string0'></span>]</td>
</tr>
</table>
</form>
</p>

<p>
<table style="padding-left: 10px;">
<tr>
    <td><b>Genre:</b></td>
    <td></td>
    <td></td>
    <td><font color="royalblue"> <span id='string1'></span> </font></td>
</tr>
<tr>
    <td><b>Station:</b></td>
    <form method="get" action="index.htm">
    <td><input name="btnPrev" type="submit" value="Prev"></td>
    <td><input name="btnNext" type="submit" value="Next"></td>
    </form>
    <td> <span id='string2'></span></td>
</tr>
<tr>
    <td><b>URL: </b></td>
    <td></td>
    <td></td>
    <td><span id='string3'></span></td>
</tr>
<tr>
    <td><b>Playing: </b></td>
    <td></td>
    <td></td>
    <td><span id='string4'></span></td>
</tr>
</table>
</p>

<p>
<form method="post" action="updatemac.htm">
<table style="padding-left: 10px;">
<tr><td><img src="./Settings.PNG"></td><td><b>Configurations:</b></td></tr>
</table>
<table style="padding-left: 10px;">
<tr><td><b>TCPIP Stack Version:</b></td><td>&nbsp;</td><td>~version~</td></tr>
<tr><td><b>Build Date:</b></td><td>&nbsp;</td><td>~builddate~</td></tr>
<tr><td><b>MAC Address:</b></td><td>&nbsp;</td><td>
<input name="txtMAC" type="text" value="~config_mac~"></td>
<td><input name="btnSaveMAC" type="submit" value="Save"></td>
</tr>
</table>
</form>
</p>

</div>

~inc:footer.inc~
